<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <form action="@action" method="post" enctype="multipart/form-data">
        <div>
            <h2>Введите Наименование поста:</h2>
            <span for="name"><!-- name_error_msg --></span>
            <label><input name="name" type="text" value="NAME"/></label>
        </div>
        <div>
            <h2>Введите текст поста:</h2>
            <span for="text"><!-- text_error_msg --></span>
            <label><textarea name="text" value="TEXT" ></textarea></label>
        </div>
        <div>
            <h2>Выберите картинку:</h2>
            <span for="text"><!-- text_error_msg --></span>
            <label><input name="image" type="file" accept="image/*/" value="" /></label>
        </div>
        <label><input type="submit" value="Сохранить" /></label>
    </form>
</body>
</html>
